---
layout: index
title: مکس بیس
lang: fa
---

<!-- <link rel="alternate" hreflang="en" href="https://maxbase.org/" /> -->
<link rel="alternate" hreflang="fa" href="{{ site.url }}/blog/" />

<h1>مکس بیس - Max Base</h1>

نام مستعار من Max Base است، من توسعه دهنده زبان برنامه نویسی، برنامه نویس Full Stack هستم. می توانید من را مکس صدا بزنید.

من عاشق دانشمندان رایانه، محققان هستم. (BaseMax ، Base Max)

<br><br>

<h2>مطالب و مقالات</h2>
<ul class="posts posts-main">
		{% for post in site.posts %}
		{% if post.private %}
		{% else %}
		{% include post-item-short.html %}
		{% endif %}
		{% endfor %}
		</ul>
		<br><br>
